<?xml version="1.0"?>
<robot xmlns:xacro="shturl.cc/ILGVOTkWIregmA4">
<xacro:macro name="gazebo_car_plugins" params="namespace:=/">
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <rosNamespace>${namespace}</rosNamespace>

            <leftJoint>right_wheel_joint</leftJoint>
            <rightJoint>left_wheel_joint</rightJoint>
            <wheelSeparation>0.23</wheelSeparation>
            <wheelDiameter>0.10</wheelDiameter>
            <wheelTorque>10</wheelTorque>
            <wheelAcceleration>0.8</wheelAcceleration>
            <updateRate>30</updateRate>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_link</robotBaseFrame>
            <publishOdomTF>true</publishOdomTF>
            <publishWheelTF>true</publishWheelTF>
        </plugin>
    </gazebo>
</xacro:macro>
</robot>

