<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find car_nav)/xacro/car_base.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>

